/* Footer */
.footer {
    /* background-color: var(--bg-secondary); */
    margin-top: auto;
    width: 100%;
}

.footer-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    padding: 2rem 0;
    text-align: center;
    color: var(--text-primary);
}

.footer-content p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    font-family: var(--font-family);
}

.footer-content p:first-child {
    font-weight: 500;
}